# Archivos de compilación
*.class
*.jar
*.war
*.ear

# Archivos de configuración y temporales de Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.launch
.classpath
.settings/
.externalToolBuilders/

# Opcional para preparar Maven o Gradle (si lo incorporas más tarde)
target/

# Configuraciones locales
local.properties
.loadpath
